---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const pricing = [
  {
    name: "⁠ODS 8: Trabajo decente y crecimiento económico.  ",
    price: "",
    popular: false,
    features: [
      "Relación: Mejora de condiciones laborales en el sector agrícola.  ",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=FpLPkwA_WZU",
    },
  },
  {
    name: "⁠ODS 12: Producción y consumo responsables.",
    price: "",
    popular: true,
    features: [
      'Relación: Promoción de métodos de cultivo sostenibles.',
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=MeFYI0A2_ws",
    },
  },
  {
    name: "⁠ODS 13: Acción por el clima. ",
    price: "",
    popular: false,
    features: [
      "Relación: Reducción de las emisiones de gases de efecto invernadero en la producción y transporte. ",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=r_aAA-8kUFc",
    },
  },
];
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Definición de desarrollo sostenible: </Fragment>
      <Fragment slot="desc">
        El desarrollo sostenible es un modelo de crecimiento que satisface las necesidades presentes sin comprometer la capacidad de las futuras generaciones de satisfacer las suyas, equilibrando aspectos económicos, sociales y ambientales. <br>
      </Fragment>
      <!-- <Fragment slot="subtitle">Qué son las ODS:</Fragment> -->
      <Fragment slot="desc">
        Los Objetivos de Desarrollo Sostenible (ODS) son 17 metas globales propuestas por la ONU en 2015 para erradicar la pobreza, proteger el planeta y garantizar paz y prosperidad para todos hacia 2030.
      </Fragment>
      <!-- <Fragment slot="subtitle">ODS relacionados con el documental:        </Fragment> -->
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} button={false} />)}
    </div>


  </Container>
</Layout>
