---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "",
    price: "Ambientales: ",
    popular: false,
    features: [
      "Implementación de prácticas agrícolas sostenibles, como cultivos orgánicos y reducción del uso de pesticidas.",
      "Programas de reforestación en áreas afectadas por la expansión agrícola.",
      "Innovación en el transporte para reducir las emisiones de carbono.  ",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=FpLPkwA_WZU",
    },
  },
  {
    name: "",
    price: "⁠Sociales:",
    popular: true,
    features: [
      'Promoción de certificaciones como "Fair Trade" (Comercio Justo) para mejorar las condiciones laborales. ',
      "Creación de cooperativas que permitan a los agricultores negociar mejores precios.  ",
      "Campañas de sensibilización contra la explotación infantil en la industria.",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=MeFYI0A2_ws",
    },
  },
  {
    name: "",
    price: "Económicas: ",
    popular: false,
    features: [
      "Incentivos gubernamentales para pequeños y medianos agricultores. ",
      "Fomento del comercio local para reducir la dependencia de mercados internacionales. ",
      "Inversión en tecnologías que aumenten la productividad de manera sostenible.  ",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=r_aAA-8kUFc",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Soluciones</Fragment>
      <Fragment slot="desc">
        Se propondran en esta seccion las posibles soluciones a las problematicas anteriormente expuestas
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} button={true} />)}
    </div>
  </Container>
</Layout>
