---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "",
    price: "Problemáticas ambientales:",
    popular: false,
    features: [
      "Deforestación masiva para crear monocultivos de naranjas.  ",
      "Uso intensivo de pesticidas y fertilizantes químicos, que contaminan suelos y cuerpos de agua.  ",
      "Alta emisión de gases de efecto invernadero en la producción y transporte. ",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=FpLPkwA_WZU",
    },
  },
  {
    name: "",
    price: "Problemáticas sociales:",
    popular: true,
    features: [
      "Condiciones laborales precarias de los trabajadores agrícolas, que enfrentan bajos salarios y largas jornadas.",
      "Explotación infantil en algunas regiones productoras.",
      "Conflictos territoriales con comunidades locales debido a la expansión de los cultivos. ",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=MeFYI0A2_ws",
    },
  },
  {
    name: "",
    price: "Problemáticas económicas:",
    popular: false,
    features: [
      "Dependencia de mercados internacionales que fijan precios bajos para los productores.",
      "Concentración del mercado en grandes corporaciones, reduciendo el ingreso de pequeños agricultores.",
      "Falta de inversión en tecnologías sostenibles que podrían beneficiar a los productores.",
    ],
    button: {
      text: "Material Visual",
      link: "https://www.youtube.com/watch?v=r_aAA-8kUFc",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Problematicas</Fragment>
      <Fragment slot="desc">
        Aqui se describiran algunas problematicas que surgieron en el video
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} button={true} />)}
    </div>
  </Container>
</Layout>
