---
import { Picture } from "astro:assets";
import heroImage from "assets/pngwing.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Precio del jugo de la naranja
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      El documental nos habla sobre la produccion de naranjas en brasil pero el video nos muestra como es en realidad el trata y el trabajo de exceso que le dan a los empleados y se aprovechan. Los trabajadores deben cumplir con cuotas de toneladas de produccion, quienes no las alcanzan son despedidos o no contratados, aunque les den alojamiento, este es de mala calidad y ademas deben desplazase en condiciones dificiles
    </p>
  </div>
</main>
